<!DOCTYPE html>
{% include html-tag.html %}

  {% include head.html %}

  <body>

    <div class="site-wrapper">

      {% include header.html %}

      <div class="main-content with-sidebar">

        <div class="article-area">
          {{ content }}
        </div>

        <div class="sidebar">
          <div class="sidebar-widget">
            {% include_cached sidebar-lastupdated-packages.html %}
          </div>

          <div class="sidebar-widget">
            {% include_cached sidebar-latest-packages.html %}
          </div>
        </div>

      </div>

      {% include footer.html %}

    </div>

  </body>

</html>
